services:
  app:
    build: .
    image: opensw-api:latest
    container_name: opensw-api
    expose:
      - 8000
#    ports:
#      - 8800:8000
    environment:
      TZ: "Asia/Seoul"
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      RDS_GET_ALL_CLASSROOM_LIST: ${RDS_GET_ALL_CLASSROOM_LIST}
      CRAWLER_API_KEY: ${CRAWLER_API_KEY}
    restart: unless-stopped
    networks:
      net:
        ipv4_address: 172.22.22.106

networks:
  net:
    external: true