.NoPaddingTop {
	padding-top: 0;
}

.OffcanvasFooter {
	width: 100%;

	position: absolute;
	left: 0;
	bottom: 0;

	padding: 1rem;
}

.FullWidth {
	width: 100%;
}

.NoStyleList {
	list-style: none;
	padding-left: 0;
}

.ColumnFlex {
	display: flex;
	flex-direction: column;
}

.FlexGrow1 {
	flex-grow: 1;
}

.VerticalList {
	overflow-x: scroll;
}

.DelegatePaddingX1 {
	padding-left: 0;
	padding-right: 0;
}

:where(.DelegatePaddingX1 > *) {
	padding-left: 1rem;
	padding-right: 1rem;
}

.PaddingX1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.Center {
	align-content: center;
	text-align: center;
}

.NoMarginBottom {
	margin-bottom: 0;
}

.MarginTop1 {
	margin-top: 1rem;
}
